html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.back-btn {
	text-align: left !important;
}

.img-nav {
	margin-left: auto;
	text-align: right !important;
	display: flex;
	justify-content: flex-end;
}

.pagination {
	text-align: right !important;
	justify-content: flex-end;
}

.main {
	min-height: 100%;
	min-height: 100vh;
	
	display: flex;
	align-items: center;
}
