<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script type=text/javascript>
		$(function() {
			$('a#call').bind('click', function() {
				$.getJSON("{{ url_for('testfunc') }}", {},
				function(data) {
					$("#result").text(data.result);
				});
				return false;
			});
		});
	</script>
  </head>
  <body>
    {% extends "index.html" %}
    {% block content %}
    
    <h1 id=result> About Flask </h1>
    <p> Flask is a micro web framework written in Python.</p>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>
	  
	<a href=# id=call>Call the server!</a>
      
    {% endblock %}
  </body>
</html>
